<ul style="list-style-type:none; margin:0; padding:0; overflow:hidden; background-color:red;  ">
  <li><a href="#">Accueil</a></li>
  <li><a href="#">Projets</a></li>
  <li><a href="#">A propos</a></li>
  <li><a href="#">Contact</a></li>
</ul>