<link rel="stylesheet" href="assets/styles/nav.css">

<ul class="nav">
  <li class="liste"><a href="#">Accueil</a></li>
  <li class="liste"><a href="#">Projets</a></li>
  <li class="liste"><a href="#">A propos</a></li>
  <li class="contact"><a href="#">Contact</a></li>
</ul>